.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #e3e3e3;
  user-select: none;
  z-index:999;

  .player-main {
    display: flex;
    flex-direction: row;

  }

  .player-section {
    display: flex;
    flex-direction: row;
    padding: 8px;
  }

  .player-info {
    width: 140px;
    overflow: hidden;
  }

  .player-image {
    width: 30px;
    height: 30px;
    float: left;
    flex-shrink: 0;
    margin-right: 8px;
    border: thin solid #e3e3e3;
  }

  .player-button {
    padding: 4px;
    margin-left: 20px;
    & > i {
      color: #ccc;
    }

    &.active {
      &:hover {
        & i {
          color: #86AB85;
        }
      }

      & > i {
        color: #A6D2A5;
      }
    }

    &:hover {
      cursor: pointer;

      & > i {
        color: #222;
      }

      .ion-ios-pause {
        color: #86AB85;
      }

      .player-button-tooltip {
        display: block;
      }
    }

    & + .player-button {
      margin-left: 30px;
    }

    .ion-ios-pause {
      color: #A6D2A5;
    }
  }


  .player-seek {
    flex: 1;
  }

  .player-seek-bar-wrap {
    padding: 6px 0;
    flex: 1;

    &:hover {
      cursor: pointer;
    }
  }

  .player-seek-bar {
    position: relative;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ececec;
  }


  .player-seek-duration-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #4ab4ff;
  }

  .player-seek-handle {
    position: absolute;
    top: -5px;
    right: -6px;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #e3e3e3;
  }

  .player-time {
    position: relative;
    margin-left: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
    font-size: 11px;


    & div {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .player-time-divider {
    margin: 0 10px;
  }
}



// scss for song-card
.song-card-details {
  position: relative;
}

.song-card-title {
  display: block;
  color: #222;
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song-card-user-username {
  display: block;
  margin-right: 30px;
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.player-hidden {
  display: none;
}

// ==============================================
@media only screen and (min-width: 320px) {
  .player-hidden {
    display: none;
  }

  .player {
    position: fixed;
    display: flex;
    align-items: center;
    height: 96px;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 32px;
    background-color: #fff;
    border-top: 1px solid #e3e3e3;
    user-select: none;
    z-index:999;


    .player-container {
      position: relative;
      width: 100%;
      height: 100px;

      .player-main {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .player-section.player-info {
          height: 100%;
          width: 300px;
          font-size: 28px;
          overflow: hidden;

          & .song-card-title, & .song-card-user-username {
            font-size: 28px;
          }

          & .player-image {
            width: 96px;
            height: 96px;
          }

        }

        .player-section {
          display: flex;
          align-items: center;
        }

        .player-section.player-player-buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex:1;
        }
        .player-section.player-mode-button {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex:1;
        }
      }
    }



    & .player-time {
      display: none;
    }

    .player-seek-bar-container {
      position: absolute;
      top: 0;
      width: 100%;
      height: 2px;

      .player-seek-bar-wrap {
        flex: 1;

        &:hover {
          cursor: pointer;
        }

        .player-seek-bar {
          position: relative;
          height: 10px;
          top: 50%;
          transform: translateY(-50%);
          background-color: #ccc;

          .player-seek-duration-bar {
            background-color: #4ab4ff;
            border:#ccc;

          }

          .player-seek-handle {
            display: none;
          }
        }
      }

    }
  }


}
