.col-1-5 {
  min-width: 175px;
}

//.toolbar{
//  position: fixed;
//  margin: 50px 0 0 50px;
//}

.toolbar{
  position: fixed;
  padding-top: 100px;
  width: 150px;
  //height: 100%;
  top: 0;
  left: 0;
  //background: #f2f2f0;
  //border-right: 1px solid #e5e4e1;
  //z-index: 400;
  //overflow: hidden;
  font-family: 'Fira Sans', sans-serif;
  //box-shadow: inset -2px 0 7px rgba(0,0,0,0.1);
  //transition: all ease-out 0.25s;
  -webkit-transition: all ease-out 0.25s;
}

.toolbar-1{
  position: fixed;
  padding-top: 100px;
  width: 150px;
  height: 100%;
  top: 0;
  left: 0;
  background: #333;
  border-right: 1px solid #e5e4e1;
  //font-family: 'Fira Sans', sans-serif;
  box-shadow: inset -2px 0 7px rgba(0,0,0,0.1);
  transition: all ease-out 0.25s;
  -webkit-transition: all ease-out 0.25s;
}

.category-space{
  margin-left: 16px;
  float: right;
  margin-top: -3px;
}

.category-button{
  display: block;
  height: 4em;
  width: 150px;
  margin: auto;
  padding: 0.5em 1.25em;
  border: 1px solid #c2c7cc;
  font-size: 0.55em;
  line-height: 1.666em;
  text-shadow: none;
  color: #2b2b2b;
  cursor: pointer;
  background: #666;
  transition: all ease-out 0.25s;
  -webkit-transition: all ease-out 0.15s;
  border-radius: 2em;
}

.category-top{
  margin: -20px 0 30px 10px;
}

.category-close{
  margin-left: 60px;
  font-size: 16px;
}

.category-close:hover{
  cursor: pointer;
  transform: rotate(-180deg);
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}

.toolbar-items{
  margin: auto;
}
.toolbar-item-li{
  list-style-type: none;
  padding: 5px;
  margin-bottom: 10px;
  font-size:18px;
  color: #777;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
}

.toolbar-item-li:hover{
  font-size:20px;
  cursor: pointer;
  border-bottom: 1px solid #222222;
  background:#3a3f41;
}
