.parent-container{
    white-space: pre-line;
}
.song-card {
    border: 1px solid #e3e3e3;
    padding: 10px;
}

.clearfix {
    display: block;
}

[class*=col-] {
    float: left;
    min-height: 1px;
    padding-right: 20px;
}
.col-1-5 {
    width: 20%;
    min-width: 175px;
    margin-bottom: 15px;
}
.song-card-container{
    position: relative;
    width:100%;
}
.song-card-image {
    display: block;
    width: 100%;
    transition: .5s ease;
    height: 70px;
    margin-bottom: 10px;
    background-position: 50%;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
}
.toggle-play-button {
    position: absolute;
    opacity: 0;
    background-color: #e3e3e3;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.toggle-play-button .fa{
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.song-card-container:hover .toggle-play-button{
    opacity: 0.7;
}

.song-card-container:hover .song-card-image{
    opacity: 0.3;
}

.song-card-user-image {
    display: block;
    width: 24px;
    height: 24px;
    margin-top: 4px;
    margin-right: 10px;
    border-radius: 100%;
    float: left;
}



.return-to-top {
    position: fixed;
    right: 20px;
    bottom: 70px;
    width: 40px;
    height: 40px;
    background: #888888;
    color: white;
    font-size: 28px;
    text-align: center;
    opacity: 0.5;
    filter: alpha(opacity=50);

    &:hover {
        background: #3a3f41;
    }
}
